<div id="FMTContactControl" class="contactControl" data-dyn-bind="visible: $data.Visible">
    <div class="contact">       
        <span data-dyn-bind="if: $data.ImageField">
            <span data-dyn-role="Image" data-dyn-bind="Height:'70', Width:'70', Value:$data.ImageField"></span>
        </span>
        <div class="details" data-dyn-bind="css: { contacthasimage: $data.ImageName }">
            <div data-dyn-bind="if: $dyn.length($data.Titles) > 0">
                <span class="title" data-dyn-bind="text: $data.Titles"></span>
            </div>
            <div data-dyn-bind="foreach: $data.Subtitles">
                <span class="staticText" data-dyn-bind="text: $data, css: { contacthasimage: $parent().ImageName }"></span>
            </div>
        </div>
        <div data-dyn-bind="if: $dyn.length($data.Actions) > 0">
            <div class="toolbar">
                <div class="toolbar-group">
                    <div data-dyn-bind="foreach: $data.Actions">
                        <div data-dyn-role="Button" data-dyn-bind="ImageType: 'Symbol', ImageName: $parent().ActionSymbol($data), Click: function() { $parent().ActionClicked($data); }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/resources/scripts/FMTContactControl.js"></script>
<link href="/resources/styles/FMTContactControl.css" rel="stylesheet" type="text/css" />
