.contactControl
{
}

    .contactControl .contact
    {
        width: 300px;
        margin-top: 10px;                     
    }

        .contactControl .contact .image
        {
            padding-right: 5px;
            padding-bottom: 5px;
            display: inline;
        }
        
        /* Styles text of items in the list to match style of Entity Contact*/
        
        .contactControl .contact .details
        {
            vertical-align: top;
            display: inline-block;
            max-width: 280px;            
        }

        .contactControl .contact .contacthasimage
        {
            max-width: 200px;
        }

            .contactControl .contact .details .title
            {
                color: #00BCF2;
                display: block;
                font-size: 26.67px;
                line-height: 0.7;
                height: 1em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .contactControl .contact .details .staticText
            {
                height: 16px;
                line-height: 1;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 280px;
                padding-right: 5px;                
            }

            .contactControl .contact .details .contacthasimage
            {
                max-width: 200px;                
            }

            .contactControl .contact .toolbar .dynamicsButton
            {
                margin: 5px 10px 0px 0px;
                color: #808080;
            }

            .contactControl .contact .toolbar span
            {
                text-align: center;
            }
